.container {
  position: relative;
  width: 200px;
  border: solid 3px white;
  height: 960px;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50px;

  align-items: center;
  display: flex;
  flex-flow: column;

  .bargraph {
    margin-top: 64px;
    margin-bottom: 32px;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
  }

  .title {
    position: absolute;
    top: -64px;
    background: black;
    object-fit: none;
    height: 128px;
    width: 128px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .label {
    font-size: 80px;
  }

  .graph {
    display: flex;
    height: 100%;
    width: 128px;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    background: darkgray;

    .led {
      background: red;
      height: 45px;
      width: 112px;
    }
  }
}