@import 'src/styles/shared';

.box {
  color: $grey-dark;
  overflow: auto; // if bigger display scrollbars, but prefer limiting children size...
}

.box-content {
  margin-top: px-to-rem(30px);
  padding: 0 px-to-rem(48px);
  box-shadow: 0 2px 4px #00000029;
  background-color: white;
}