@import 'src/styles/shared';

.config-elem-container {
  display: flex;
  flex-flow: row;
  font-weight: 600;
  align-items: center;
  border-radius: px-to-rem(20px);
  margin-bottom: px-to-rem(15px);
  width: fit-content;
  padding-left: px-to-rem(30px);
  font-size: px-to-rem(22px);

  img {
    height: px-to-rem(70px);
  }
}

.enabled {
  border: solid 1px $grey-dark;
  color: $grey-dark;
}

.disabled {
  border: solid 1px $grey-border;
  color: rgba($grey-border, 0.5);
  background: $grey-lighter;
}