@import 'src/styles/shared';

.room-details-page {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: px-to-rem(1088px);
  font-size: px-to-rem(22px);
  line-height: px-to-rem(29px);
  padding-top: 3rem;

  .centered-button {
    align-self: center;
    //margin: px-to-rem(16px) px-to-rem(16px) px-to-rem(16px) !important;
    padding: 2rem;
  }
}