@import 'src/styles/shared';

.content {
  display: flex;
  flex-flow: column;
  padding: 1rem 3rem;
  overflow: scroll;
  position: absolute;
  top: 0;
  max-width: px-to-rem(1130px);

  h2 {
    font-size: px-to-rem(22px);
    line-height: px-to-rem(29px);
  }

  .csv-input-container {
    display: flex;
    flex-flow: row;
    align-content: center;
    align-items: center;
  }

  .download-button {
    font-size: px-to-rem(14px);
    line-height: px-to-rem(21px);
    text-decoration: underline;
    cursor: pointer;
    font-family: "Myriad Pro", sans-serif;
  }

  .save {
    margin-top: 1rem !important;
    min-height: 0 !important;
  }

  .file-input {
    width: fit-content;
    margin-right: 2rem;
    min-width: px-to-rem(260px);
  }
}

.language-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .item {
    width: calc(50% - 2rem);
    //box-sizing: border-box;
    display: flex;
    flex-flow: row;
    align-items: center;
    background-color: #193251;
    color: white;
    border: none;
    font-size: large;
    border-radius: 2rem;
    padding: 0.5rem 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    &:nth-child(1n) {
      margin-right: 1rem;
    }

    img {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 2rem;
      margin-right: 1.5rem;
      object-fit: cover;
    }

    &:hover {
      background-color: #5895CC;
      cursor: pointer;
    }
  }
}



.form {
  height: 100%;
  width: 100%;
  padding: 2rem 4rem 3rem;
  display: block;

  td {
    width: 33%;
    min-width: 33%;
  }

  input {
    background-color: #F6F7F9;
    border: none;
    width: 100%;
    height: 40px;
    margin: 0;
    font-size: 20px;
    padding: 0.25rem 1rem;

    &::placeholder {
      font-size: 20px;
      color: #474747;
      @include font-sans-serif();
    }
  }

  .table-separator {
    height: 3rem;
  }

  label {
    color: #707070;
    height: 40px;
    padding-right: 1rem;
    display: block;
    margin: 0;
    font-size: 16px;
    text-align: right;
    line-height: 40px;
  }
}

.info-container {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  flex-flow: row;
  align-items: center;
  justify-content: left;

  .icon-info {
    display: inline;
    height: 4rem;
    width: 4rem;
    object-fit: cover;
  }

  .icon-info:hover + .tooltip {
    visibility: visible !important;
  }

  .tooltip {
    visibility: hidden;
    display: inline-block;
    background: #ebeced;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: smaller;


    p {
      float: left;
      height: inherit;
      padding: 0 !important;
      margin: 0 !important;
      color: #707070;
      font-style: italic;
    }

    img {
      float: left;
      height: 1rem;
      object-fit: contain;
      margin-left: 1rem;
    }
  }
}

.language-icon-add {
  img {
    height: 6rem;
    width: 6rem;
    object-fit: cover;
    cursor: pointer;
  }

  .add {
    position: relative;
    padding: 1rem;
    z-index: 999 !important;
    background: rgba(white, 0.5);
  }
  .delete {
    position: relative;
    padding-left: 3rem;
    top: -1rem;
    right: -1rem;
    padding-bottom: 3rem;
    z-index: 999 !important;
  }
  .flag {
    border-radius: 3rem;
    position: relative;
    left: -6rem;
    z-index: 100;
  }
}

.visible-field {
  display: flex;
  flex-flow: row;
  align-items: center;

  input {
    height: 18px;
    width: 18px;
    margin: 0;
    padding: 0;
  }

  p {
    font-size: 18px;
  }
}

.space-15 {
  display: inline;
  margin: 15px;
}

.space-5 {
  display: inline;
  margin: 5px;
}