// TODO REMOVE MYRIAD PRO
//  left here for svg text... => remove text from svg or vectorize it

// 300 LIGHT
@font-face {
  font-family: 'Myriad Pro';
  src:  url('./assets/fonts/Myriad-Pro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Myriad Pro';
  src:  url('./assets/fonts/Myriad-Pro-Light-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

// 400 REGULAR
@font-face {
  font-family: 'Myriad Pro';
  src:  url('./assets/fonts/Myriad-Pro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Myriad Pro';
  src:  url('./assets/fonts/Myriad-Pro-Regular-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

// 600 SEMIBOLD
@font-face {
  font-family: 'Myriad Pro';
  src:  url('./assets/fonts/Myriad-Pro-Semibold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Myriad Pro';
  src:  url('./assets/fonts/Myriad-Pro-Semibold-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

// 700 BOLD
@font-face {
  font-family: 'Myriad Pro';
  src:  url('./assets/fonts/Myriad-Pro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Myriad Pro';
  src:  url('./assets/fonts/Myriad-Pro-Bold-Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

// 900 BLACK
@font-face {
  font-family: 'Myriad Pro';
  src:  url('./assets/fonts/Myriad-Pro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Myriad Pro';
  src:  url('./assets/fonts/Myriad-Pro-Black-Italic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}