@import 'src/styles/shared';

.button-icon {
  //width: px-to-rem(120px);
  height: px-to-rem(60px);

  &.button-icon-vertical {
    height: auto;

    padding: px-to-rem(15px) px-to-rem(12px);

    background-repeat: no-repeat !important;
    background-position: 50% px-to-rem(20px) !important; // left
    background-size: px-to-rem(60px) auto !important; // width height

    &:active {
      .button-icon-label {
        color: white;
      }
    }

    .button-icon-label {
      margin-top: px-to-rem(60px);
      margin-left: 0;
      text-align: center;

      font-size: px-to-rem(16px);
      line-height: px-to-rem(20px);
      color: $grey-dark;

      word-wrap: normal;
      overflow-wrap: break-word;
    }
  }

  .button-icon-label {
    font-size: px-to-rem(30px);
    line-height: px-to-rem(30px);
    margin-left: px-to-rem(48px);
    text-align: right;
  }

  background-repeat: no-repeat !important;
  background-position: px-to-rem(20px) !important; // left
  background-size: auto px-to-rem(32px) !important; // width height

  &:hover {
    cursor: pointer;
  }

  &:active {
  }
}